Repository proconnect-gouv/federation, pull requests merged in 2025-10, with the labels that each got.

#541 🧑‍💻 Let `docker-stack mongo` accept arguments
  docker/bash/commands/mongo.sh
Labels: :whale: docker

#542 🧑‍💻 Do not break `docker-stack` command arguments
  docker/bash/utils/commands.sh
Labels: :whale: docker

#548 ⚰ Remove dead commands from dks
  docker/bash/commands/docker.sh
  docker/docker-stack
Labels: :whale: docker

#546 🔥 Remove legacy pm2 ref in dks wait
  docker/bash/README.md
  docker/bash/utils/wait.sh
Labels: :whale: docker, :memo: documentation

#551 📌 explicitly fix @types/node version
  .github/dependabot.yml
Labels: :construction_worker: CI

#561 🗑️ delete typeorm from back
  back/package.json
  back/scripts/fixtures-load.sh
  back/scripts/fixtures-reset-config-test.sh
  back/typeorm.config.ts
  back/yarn.lock
Labels: scope: back

#562 🗑️ delete csv feature in admin
  admin/cypress/integration/service-provider/service-provider-create.utils.js
  admin/package.json
  admin/public/javascript/csv-parser.js
  admin/public/javascript/main.js
  admin/views/service-provider/creation.ejs
  admin/yarn.lock
Labels: scope: admin

#570 👷 faster dks switch
  docker/compose/shared/shared.yml
Labels: :whale: docker
