Repository proconnect-gouv/federation, pull requests merged in 2025-07, with the labels that each got.

#85 👷 ci(github): test hybridge in CI
  .github/workflows/ci-tests.yml
  docker/compose/fca-low/.env/csmr-rie.env
  docker/compose/fca-low/.env/fia-rie-low.env
  docker/compose/fca-low/core.yml
  docker/compose/fca-low/hybridge.yml
  docker/compose/fca-low/stack.yml
  docker/compose/shared/shared.yml
  quality/fca/cypress/fixtures/fca-low/docker/identity-providers.json
  quality/fca/cypress/integration/usager/hybridge.feature
  quality/fca/cypress/support/usager/steps/interaction-idp-selection-steps.ts
Labels: enhancement

#224 🔥 remove unused oidc provider conf
  back/libs/oidc-provider/src/dto/oidc-provider-config.dto.ts
  back/libs/oidc-provider/src/services/oidc-provider-config.service.spec.ts
  back/libs/oidc-provider/src/services/oidc-provider-config.service.ts
Labels: scope: back, :test_tube: unit test

#223 📝 update doc with useful commands
  README.md
Labels: :memo: documentation

#230 🔊 debug logs are more usable
  back/apps/core-fca/src/controllers/data-provider.controller.ts
  back/libs/oidc-provider/src/oidc-provider.controller.ts
Labels: scope: back

#220 Catch IdP errors in oidc-callback endpoint
  back/_doc/erreurs.md
  back/apps/core-fca/src/controllers/oidc-client.controller.spec.ts
  back/apps/core-fca/src/controllers/oidc-client.controller.ts
  back/apps/core-fca/src/exceptions/error-messages.ts
  back/apps/core-fca/src/filters/data-provider-exception.filter.ts
  back/apps/core-fca/src/views/error.ejs
  back/instances/mock-identity-provider-fca-low/src/index.ejs
  back/instances/mock-identity-provider-fca-low/src/main.ts
  back/libs/app/src/interfaces/api-error-message.ts
  back/libs/app/src/interfaces/api-error-params.ts
  back/libs/app/src/interfaces/index.ts
  back/libs/exceptions/src/exceptions/base.exception.ts
  back/libs/exceptions/src/filters/fc-base.exception-filter.spec.ts
  back/libs/exceptions/src/filters/fc-base.exception-filter.ts
  back/libs/exceptions/src/filters/fc-web-html-exception.filter.spec.ts
  back/libs/exceptions/src/filters/fc-web-html-exception.filter.ts
  back/libs/exceptions/src/filters/fc-web-json-exception.filter.spec.ts
  back/libs/exceptions/src/filters/fc-web-json-exception.filter.ts
  back/libs/exceptions/src/filters/http-exception.filter.spec.ts
  back/libs/exceptions/src/filters/http-exception.filter.ts
  back/libs/oidc-client/src/enums/error-code.ts
  back/libs/oidc-client/src/exceptions/index.ts
  back/libs/oidc-client/src/exceptions/oidc-client-missing-code.exception.ts
  back/libs/oidc-client/src/services/oidc-client-utils.service.spec.ts
  back/libs/oidc-client/src/services/oidc-client-utils.service.ts
  quality/fca/cypress/integration/api/api-oidc-callback.feature
  quality/fca/cypress/support/usager/steps/identity-provider-steps.ts
Labels: scope: back, :traffic_light: quality, :test_tube: unit test, :memo: documentation

#233 🎨 Clean _up hooks
  docker/bash/commands/up.sh
  docker/docker-stack
Labels: :whale: docker

#234 ♻️ complete rewriting of logger-legacy
  back/libs/logger-legacy/src/README.md
  back/libs/logger-legacy/src/constants/index.ts
  back/libs/logger-legacy/src/constants/logger-colors.constants.ts
  back/libs/logger-legacy/src/enum/index.ts
  back/libs/logger-legacy/src/enum/logger-level-codes.enum.ts
  back/libs/logger-legacy/src/enum/logger-level-names.enum.ts
  back/libs/logger-legacy/src/index.ts
  back/libs/logger-legacy/src/interfaces/index.ts
  back/libs/logger-legacy/src/interfaces/logger-business-event.interface.ts
  back/libs/logger-legacy/src/interfaces/logger-color-constants.interface.ts
  back/libs/logger-legacy/src/interfaces/logger-color-params.interface.ts
  back/libs/logger-legacy/src/interfaces/logger-transport.interface.ts
  back/libs/logger-legacy/src/log-maps.map.ts
  back/libs/logger-legacy/src/logger.module.ts
  back/libs/logger-legacy/src/services/index.ts
  back/libs/logger-legacy/src/services/logger.service.spec.ts
  back/libs/logger-legacy/src/services/logger.service.ts
  back/libs/logger-legacy/src/services/pino.service.spec.ts
  back/libs/logger-legacy/src/services/pino.service.ts
  back/libs/logger-legacy/src/utils/index.ts
  back/libs/logger-legacy/src/utils/logger-colors.utils.spec.ts
  back/libs/logger-legacy/src/utils/logger-colors.utils.ts
  back/libs/logger-legacy/src/utils/logger-helpers.utils.spec.ts
  back/libs/logger-legacy/src/utils/logger-helpers.utils.ts
  back/libs/tracking/src/interceptors/tracking.interceptor.spec.ts
Labels: scope: back, :test_tube: unit test, :memo: documentation

#236 🔥 Remove 10 sec sleep when launching admin
  docker/bash/commands/up.sh
Labels: :whale: docker

#239 🔨 Add a dks command for cleaning node modules and dist
  docker/bash/commands/node.sh
  docker/docker-stack
Labels: :whale: docker

#237 🚚 move core-tracking-service to tracking module
  back/libs/core/src/core.module.ts
  back/libs/core/src/interfaces/index.ts
  back/libs/core/src/services/index.ts
  back/libs/tracking/src/interceptors/tracking.interceptor.spec.ts
  back/libs/tracking/src/interceptors/tracking.interceptor.ts
  back/libs/tracking/src/interfaces/app-tracking-service.abstract.ts
  back/libs/tracking/src/interfaces/core-tracking-context.interface.ts
  back/libs/tracking/src/interfaces/core-tracking-log.interface.ts
  back/libs/tracking/src/interfaces/core-tracking-providers.interface.ts
  back/libs/tracking/src/interfaces/index.ts
  back/libs/tracking/src/interfaces/tracked-event.interface.ts
  back/libs/tracking/src/services/core-tracking.service.spec.ts
  back/libs/tracking/src/services/core-tracking.service.ts
  back/libs/tracking/src/services/index.ts
  back/libs/tracking/src/services/tracking.service.spec.ts
  back/libs/tracking/src/services/tracking.service.ts
  back/libs/tracking/src/tokens/index.ts
  back/libs/tracking/src/tracking.module.ts
Labels: scope: back, :test_tube: unit test

#216 ♻ centralise oidc-provider configuration
  back/_doc/erreurs.md
  back/apps/core-fca/src/controllers/interaction.controller.spec.ts
  back/apps/core-fca/src/controllers/interaction.controller.ts
  back/apps/core-fca/src/core-fca.module.ts
  back/apps/core-fca/src/enums/error-code.enum.ts
  back/apps/core-fca/src/exceptions/core-idp-hint.exception.ts
  back/apps/core-fca/src/exceptions/index.ts
  back/apps/core-fca/src/services/index.ts
  back/apps/core-fca/src/services/oidc-provider-config-app.service.ts
  back/libs/core/src/core.module.ts
  back/libs/core/src/enums/error-code.enum.ts
  back/libs/core/src/exceptions/core-missing-context.exception.spec.ts
  back/libs/core/src/exceptions/core-missing-context.exception.ts
  back/libs/core/src/exceptions/index.ts
  back/libs/core/src/services/core-oidc-provider-config-app.service.ts
  back/libs/core/src/services/index.ts
  back/libs/oidc-client/src/oidc-client.module.ts
  back/libs/oidc-client/src/services/oidc-client-utils.service.spec.ts
  back/libs/oidc-client/src/services/oidc-client-utils.service.ts
  back/libs/oidc-provider/src/enums/error-code.enum.ts
  back/libs/oidc-provider/src/exceptions/index.ts
  back/libs/oidc-provider/src/exceptions/oidc-provider-missing-at-hash.exception.ts
  back/libs/oidc-provider/src/interfaces/index.ts
  back/libs/oidc-provider/src/interfaces/oidc-provider-config-app-service.interface.ts
  back/libs/oidc-provider/src/oidc-provider.controller.spec.ts
  back/libs/oidc-provider/src/oidc-provider.module.ts
  back/libs/oidc-provider/src/oidc-provider.service.spec.ts
  back/libs/oidc-provider/src/oidc-provider.service.ts
  back/libs/oidc-provider/src/services/index.ts
  back/libs/oidc-provider/src/services/oidc-provider-app-config-lib.service.spec.ts
  back/libs/oidc-provider/src/services/oidc-provider-config-app.service.spec.ts
  back/libs/oidc-provider/src/services/oidc-provider-config-app.service.ts
  back/libs/oidc-provider/src/services/oidc-provider-config.service.spec.ts
  back/libs/oidc-provider/src/services/oidc-provider-config.service.ts
  back/libs/oidc-provider/src/tokens/index.ts
  back/libs/oidc-provider/src/tokens/oidc-provider-config-app-service.token.ts
Labels: scope: back, :traffic_light: quality, :test_tube: unit test, :memo: documentation

#240 Refactor get event context
  back/_doc/erreurs.md
  back/apps/core-fca/src/enums/error-code.enum.ts
  back/apps/core-fca/src/exceptions/core-no-session-id.exception.ts
  back/apps/core-fca/src/exceptions/index.ts
  back/apps/core-fca/src/services/core-fca-middleware.service.spec.ts
  back/apps/core-fca/src/services/core-fca-middleware.service.ts
  back/libs/session/src/enums/error-code.enum.ts
  back/libs/session/src/exceptions/index.ts
Labels: scope: back, :test_tube: unit test, :memo: documentation

#225 Introspection sub is inaccurate
  back/apps/core-fca/src/services/core-fca-middleware.service.spec.ts
  back/apps/core-fca/src/services/core-fca-middleware.service.ts
  back/libs/oidc-provider/src/services/oidc-provider-config-app.service.spec.ts
  back/libs/oidc-provider/src/services/oidc-provider-config-app.service.ts
  quality/fca/cypress/integration/usager/fournisseur-données.feature
  quality/fca/cypress/support/api/steps/api-checktoken-steps.ts
Labels: scope: back, :traffic_light: quality, :test_tube: unit test, :memo: documentation

#258 Dette technique admin 2
  admin/fc-exploitation/package.json
  admin/package.json
  admin/shared/logger/logger.service.ts
  admin/shared/package.json
  admin/yarn.lock
Labels: scope: admin

#264 🔥 remove apache-ignite module
  back/_doc/erreurs.md
  back/libs/apache-ignite/README.md
  back/libs/apache-ignite/src/apache-ignite.module.ts
  back/libs/apache-ignite/src/apache-ignite.service.spec.ts
  back/libs/apache-ignite/src/apache-ignite.service.ts
  back/libs/apache-ignite/src/dto/apache-ignite-config.dto.ts
  back/libs/apache-ignite/src/dto/index.ts
  back/libs/apache-ignite/src/enums/error-code.enum.ts
  back/libs/apache-ignite/src/enums/index.ts
  back/libs/apache-ignite/src/exceptions/apache-ignite-base.exception.ts
  back/libs/apache-ignite/src/exceptions/index.ts
  back/libs/apache-ignite/src/exceptions/invalid-socket.exception.ts
  back/libs/apache-ignite/src/index.ts
  back/libs/apache-ignite/tsconfig.lib.json
  back/nest-cli.json
  back/tsconfig.json
Labels: scope: back, :test_tube: unit test, :memo: documentation

#266 🔥 remove dead code
  back/apps/core-fca/src/exceptions/error-messages.ts
  back/jest.config.ts
  back/libs/account-fca/src/interfaces/index.ts
  back/libs/account-fca/src/interfaces/interaction.interface.ts
  back/libs/app/src/enums/environment.enum.ts
  back/libs/common/src/transforms/index.ts
  back/libs/common/src/transforms/join.transform.spec.ts
  back/libs/common/src/transforms/join.transform.ts
  back/libs/common/src/types/fsa.type.ts
  back/libs/common/src/types/index.ts
  back/libs/common/src/types/instantiable.type.ts
  back/libs/common/src/types/pagination-options.type.ts
  back/libs/common/src/types/pagination-result.type.ts
  back/libs/common/src/types/partial-deep.type.ts
  back/libs/common/src/types/required-except.type.ts
  back/libs/common/src/types/uuid.type.ts
  back/libs/common/src/types/valueToArray.type.ts
  back/libs/cryptography/src/enums/cryptography-use.enum.ts
  back/libs/cryptography/src/enums/data-encryption-key-alg.enum.ts
  back/libs/cryptography/src/enums/index.ts
  back/libs/email-validator/src/tokens/index.ts
  back/libs/exceptions/src/cli/export-exceptions/fixtures/module-2.exception.fixture.ts
  back/libs/exceptions/src/cli/export-exceptions/fixtures/module.exception.fixture.ts
  back/libs/exceptions/src/types/exceptions-scope.type.ts
  back/libs/exceptions/src/types/index.ts
  back/libs/identity-provider-adapter-mongo/src/dto/identity-provider-adapter-mongo.dto.spec.ts
  back/libs/identity-provider-adapter-mongo/src/dto/identity-provider-adapter-mongo.dto.ts
  back/libs/identity-provider-adapter-mongo/src/enums/amr.enum.ts
  back/libs/identity-provider-adapter-mongo/src/enums/index.ts
  back/libs/identity-provider-adapter-mongo/src/enums/response-types.enum.ts
  back/libs/identity-provider-adapter-mongo/src/events/idendity-provider-update.event.ts
  back/libs/identity-provider-adapter-mongo/src/events/index.ts
  back/libs/identity-provider-adapter-mongo/src/identity-provider-adapter-mongo.service.spec.ts
  back/libs/identity-provider-adapter-mongo/src/index.ts
  back/libs/identity-provider-adapter-mongo/src/interfaces/identity-provider-adapter-mongo.interface.ts
  back/libs/identity-provider-adapter-mongo/src/interfaces/index.ts
  back/libs/logger/src/dto/logger-config.dto.ts
  back/libs/logger/src/index.ts
  back/libs/microservices/src/index.ts
  back/libs/notifications/src/dto/index.ts
  back/libs/notifications/src/dto/notifications.dto.ts
  back/libs/oidc-provider/src/dto/get-interaction-params.dto.ts
  back/libs/oidc-provider/src/dto/index.ts
  back/libs/oidc/src/index.ts
  back/libs/oidc/src/interfaces/index.ts
  back/libs/oidc/src/interfaces/oidc-callback.interface.ts
  back/libs/oidc/src/interfaces/oidc-error.interface.ts
  back/libs/oidc/src/interfaces/service-provider-adapter.interface.ts
  back/libs/service-provider-adapter-mongo/src/events/index.ts
  back/libs/service-provider-adapter-mongo/src/events/service-provider-update.event.ts
  back/libs/service-provider-adapter-mongo/src/index.ts
  back/libs/typeorm/.mocks/index.ts
  back/libs/typeorm/.mocks/repository.mock.ts
  back/tsconfig.json
Labels: scope: back, :test_tube: unit test

#268 👷 update admin ci trigger
  .github/workflows/ci-admin-tests.yml
Labels: :construction_worker: CI

#226 Upgrade Nest from v6 to v8
  admin/fc-exploitation/cypress/integration/data-provider/data-provider-create.spec.js
  admin/fc-exploitation/cypress/integration/data-provider/data-provider-create.utils.js
  admin/fc-exploitation/cypress/integration/data-provider/data-provider-delete.spec.js
  admin/fc-exploitation/cypress/integration/data-provider/data-provider-generate-new-client-secret.spec.js
  admin/fc-exploitation/cypress/integration/data-provider/data-provider-list.spec.js
  admin/fc-exploitation/cypress/integration/data-provider/data-provider-search.spec.js
  admin/fc-exploitation/cypress/integration/data-provider/data-provider-update.spec.js
  admin/fc-exploitation/cypress/integration/identity-provider/identity-provider-list.spec.js
  admin/fc-exploitation/package.json
  admin/fc-exploitation/src/claims/interface/claims.interface.ts
  admin/fc-exploitation/src/config/database.ts
  admin/fc-exploitation/src/configuration/configuration.controller.ts
  admin/fc-exploitation/src/configuration/dto/indisponibilite.dto.ts
  admin/fc-exploitation/src/console.ts
  admin/fc-exploitation/src/data-provider/data-provider.controller.spec.ts
  admin/fc-exploitation/src/data-provider/data-provider.controller.ts
  admin/fc-exploitation/src/data-provider/data-provider.service.spec.ts
  admin/fc-exploitation/src/data-provider/data-provider.service.ts
  admin/fc-exploitation/src/dataSource.ts
  admin/fc-exploitation/src/identity-provider/identity-provider.controller.ts
  admin/fc-exploitation/src/identity-provider/identity-provider.service.ts
  admin/fc-exploitation/src/main.ts
  admin/fc-exploitation/src/scopes/scopes.controller.ts
  admin/fc-exploitation/src/service-provider/dto/delete-service-provider.dto.ts
  admin/fc-exploitation/src/service-provider/service-provider.controller.spec.ts
  admin/fc-exploitation/src/service-provider/service-provider.controller.ts
  admin/fc-exploitation/src/service-provider/service-provider.service.ts
  admin/package.json
  admin/shared/account/account.controller.spec.ts
  admin/shared/account/account.controller.ts
  admin/shared/account/account.service.ts
  admin/shared/authentication/authentication.service.spec.ts
  admin/shared/authentication/authentication.service.ts
  admin/shared/authentication/passport/local.serializer.ts
  admin/shared/cli/cli.service.spec.ts
  admin/shared/config/http.service.ts
  admin/shared/cypress/integration/account/account-create.spec.js
  admin/shared/cypress/support/reset.js
  admin/shared/fixtures/User.yml
  admin/shared/form/dto/form-validation-error.dto.ts
  admin/shared/form/dto/form-validation-errors.dto.ts
  admin/shared/form/interceptor/form-errors.interceptor.spec.ts
  admin/shared/form/interceptor/form-errors.interceptor.ts
  admin/shared/logger/logger.service.ts
  admin/shared/mailer/dto/message.dto.spec.ts
  admin/shared/mailer/transporters/transport.ts
  admin/shared/package.json
  admin/shared/pagination/index.ts
  admin/shared/pagination/pagination.service.ts
  admin/shared/user/user.service.spec.ts
  admin/shared/user/user.service.ts
  admin/yarn.lock
Labels: scope: admin, :test_tube: unit test

#273 👷 upload artifact on integration test failure
  .github/workflows/integration-tests.yml
Labels: :construction_worker: CI

#284 delete data provider tab
  admin/fc-exploitation/src/app.module.ts
  admin/fc-exploitation/src/data-provider/data-provider.controller.spec.ts
  admin/fc-exploitation/src/data-provider/data-provider.controller.ts
  admin/fc-exploitation/src/data-provider/data-provider.module.ts
  admin/fc-exploitation/src/data-provider/data-provider.mongodb.entity.ts
  admin/fc-exploitation/src/data-provider/data-provider.service.spec.ts
  admin/fc-exploitation/src/data-provider/data-provider.service.ts
  admin/fc-exploitation/src/data-provider/dto/data-provider.dto.ts
  admin/fc-exploitation/src/data-provider/interface/data-provider.interface.ts
  admin/fc-exploitation/src/data-provider/schema/data-provider.schema.ts
  admin/fc-exploitation/src/interfaces/crud-track.interface.ts
  admin/fc-exploitation/views/data-provider/creation.ejs
  admin/fc-exploitation/views/data-provider/generate-new-client-secret.ejs
  admin/fc-exploitation/views/data-provider/list.ejs
  admin/fc-exploitation/views/data-provider/update.ejs
  admin/fc-exploitation/views/partials/header.ejs
  quality/fca/cypress/integration/exploitation/connexion-exploitation.feature
  quality/fca/cypress/support/exploitation/steps/exploit-common-steps.ts
Labels: :traffic_light: quality, scope: admin, :test_tube: unit test

#283 🔨 Auto assign PR creator in github
  .github/workflows/auto-assign.yml
Labels: :construction_worker: CI

#286 🚚 move all OP controllers at the same place
  back/apps/core-fca/src/controllers/index.ts
  back/apps/core-fca/src/controllers/oidc-provider.controller.spec.ts
  back/apps/core-fca/src/controllers/oidc-provider.controller.ts
  back/apps/core-fca/src/core-fca.module.ts
  back/apps/core-fca/src/dto/index.ts
  back/libs/oidc-provider/src/dto/authorize-params.dto.ts
  back/libs/oidc-provider/src/dto/index.ts
  back/libs/oidc-provider/src/oidc-provider.controller.spec.ts
  back/libs/oidc-provider/src/oidc-provider.controller.ts
Labels: scope: back, :test_tube: unit test

#290 💡 remove outdated comment
  back/libs/oidc-provider/src/services/oidc-provider-config-app.service.ts
  back/libs/session/src/services/session-backend-storage.service.ts
Labels: scope: back

#291 Add edge case with idp hint
  quality/fca/cypress/fixtures/fca-low/docker/identity-providers.json
  quality/fca/cypress/fixtures/fca-low/docker/service-providers.json
  quality/fca/cypress/fixtures/fca-low/integ01/identity-providers.json
  quality/fca/cypress/fixtures/fca-low/integ01/service-providers.json
  quality/fca/cypress/integration/usager/connexion-idp_hint.feature
  quality/fca/cypress/integration/usager/connexion-prompt.feature
  quality/fca/cypress/integration/usager/connexion-session.feature
  quality/fca/cypress/integration/usager/connexion-sso.feature
  quality/fca/cypress/integration/usager/connexion-sub.feature
  quality/fca/cypress/integration/usager/connexion-usager-multi-fi.feature
  quality/fca/cypress/integration/usager/connexion-usager.feature
  quality/fca/cypress/integration/usager/deconnexion-usager.feature
  quality/fca/cypress/support/usager/steps/service-provider-steps.ts
Labels: :traffic_light: quality

#288 ✨ add sp name into authorizeParams
  back/.eslintrc.js
  back/apps/core-fca/src/controllers/oidc-client.controller.ts
  back/apps/core-fca/src/services/core-fca.service.ts
  back/instances/mock-identity-provider-fca-low/src/oidc-provider-support/configuration.ts
  quality/fca/cypress/fixtures/fca-low/docker/service-providers.json
  quality/fca/cypress/integration/usager/connexion-fi.feature
  quality/fca/cypress/support/usager/steps/identity-provider-steps.ts
Labels: scope: back, :traffic_light: quality

#294 ✏ Standardize the usage of the DOCKER_COMPOSE variable
  docker/bash/commands/docker.sh
Labels: :whale: docker

#215 🔧 ci(github): register on main branch
  .github/workflows/build-docker.yml
Labels: :construction_worker: CI

#296 Less flaky integration test
  quality/fca/cypress/integration/usager/hybridge.feature
  quality/fca/cypress/support/usager/steps/interaction-idp-selection-steps.ts
Labels: :traffic_light: quality
