Repository proconnect-gouv/federation, pull requests merged in 2025-09, with the labels that each got.

#415 ✨ Add CSS to disablevalide button when forms are invalid
  back/apps/core-fca-low/src/public/css/pages/dsfr.pc.css
  back/apps/core-fca-low/src/views/interaction-identity-provider.ejs
  quality/fca/cypress/integration/usager/connexion-usager-multi-fi.feature
  quality/fca/cypress/support/usager/steps/interaction-idp-selection-steps.ts
  quality/fca/cypress/support/usager/steps/interaction-steps.ts
Labels: scope: back, :traffic_light: quality

#439 Use node_modules from node image directly instead of copying to an anonymous volume
  admin/Dockerfile
  back/.dockerignore
  back/Dockerfile
  docker/bash/commands/node.sh
  docker/compose/fca-low/admin.yml
  docker/compose/fca-low/hybridge.yml
  docker/compose/shared/shared.yml
  docker/docker-stack
Labels: :whale: docker, scope: back, scope: admin

#396 🐛(bootstrap) fix visual regressions by completing Bootstrap migration
  admin/cypress/integration/identity-provider/identity-provider-create.spec.js
  admin/cypress/integration/identity-provider/identity-provider-delete.spec.js
  admin/cypress/integration/identity-provider/identity-provider-update.spec.js
  admin/cypress/integration/scopes/scopes-delete.spec.js
  admin/cypress/integration/scopes/scopes-update.spec.js
  admin/cypress/integration/service-provider/service-provider-create.spec.js
  admin/cypress/integration/service-provider/service-provider-delete.spec.js
  admin/cypress/integration/service-provider/service-provider-generate-new-client-secret.spec.js
  admin/cypress/support/commands.js
  admin/cypress/support/forms.js
  admin/public/javascript/toggle-by-radio.js
  admin/views/account/creation.ejs
  admin/views/account/enrollment.ejs
  admin/views/account/list.ejs
  admin/views/account/userAccount.ejs
  admin/views/configuration/indisponibilite.ejs
  admin/views/identity-provider/creation.ejs
  admin/views/identity-provider/list.ejs
  admin/views/identity-provider/update.ejs
  admin/views/login.ejs
  admin/views/notification/create.ejs
  admin/views/notification/information.ejs
  admin/views/notification/update.ejs
  admin/views/partials/choose-items-number-to-show.ejs
  admin/views/partials/claims.ejs
  admin/views/partials/dropdownAccount.ejs
  admin/views/partials/header.ejs
  admin/views/partials/resource-server.ejs
  admin/views/partials/scopes.ejs
  admin/views/partials/search.ejs
  admin/views/scopes/claim/form.ejs
  admin/views/scopes/label/creation.ejs
  admin/views/scopes/label/update.ejs
  admin/views/service-provider/creation.ejs
  admin/views/service-provider/generate-new-client-secret.ejs
  admin/views/service-provider/list.ejs
  admin/views/service-provider/update.ejs
Labels: scope: admin

#444 ♻️ centralize route definitions
  back/apps/core-fca-low/src/config/oidc-client.ts
  back/apps/core-fca-low/src/config/session.ts
  back/apps/core-fca-low/src/controllers/interaction.controller.ts
  back/apps/core-fca-low/src/controllers/oidc-client.controller.spec.ts
  back/apps/core-fca-low/src/controllers/oidc-client.controller.ts
  back/apps/core-fca-low/src/enums/core-fca-routes.enum.ts
  back/apps/core-fca-low/src/enums/index.ts
  back/apps/core-fca-low/src/enums/routes.enum.ts
  back/libs/oidc-client/src/enums/index.ts
  back/libs/oidc-provider/src/services/oidc-provider-config-app.service.ts
Labels: scope: back, :test_tube: unit test

#461 ♿️ delete useless titles
  back/apps/core-fca-low/src/views/includes/footer.ejs
  back/apps/mock-service-provider-fca-low/src/index.ejs
Labels: scope: back

#473 Precheck scopes when creating sp
  admin/cypress/integration/service-provider/service-provider-create.spec.js
  admin/src/scopes/scopes.service.ts
  admin/src/service-provider/service-provider.controller.spec.ts
  admin/src/service-provider/service-provider.controller.ts
  admin/views/service-provider/creation.ejs
Labels: scope: admin, :test_tube: unit test

#492 🚸 make order of toggle buttons in sp consistent
  admin/views/service-provider/creation.ejs
  admin/views/service-provider/update.ejs
Labels: scope: admin

#474 Move and translate admin tests introduced for empty default siret
  admin/cypress/integration/identity-provider/identity-provider-update.spec.js
  quality/fca/cypress/integration/exploitation/creation-modification-fi.feature
  quality/fca/cypress/support/exploitation/steps/exploit-idp-form-steps.ts
Labels: :traffic_light: quality, scope: admin

#486 Activate fi by default
  admin/cypress/integration/identity-provider/identity-provider-create.spec.js
  admin/src/identity-provider/identity-provider.service.spec.ts
  admin/src/identity-provider/identity-provider.service.ts
  admin/views/identity-provider/creation.ejs
Labels: scope: admin, :test_tube: unit test

#496 855 delete fqdn duplicates for idp
  admin/package.json
  admin/src/identity-provider/dto/identity-provider.dto.ts
  admin/src/utils/transforms/string.transform.spec.ts
  admin/src/utils/transforms/string.transform.ts
  admin/yarn.lock
Labels: scope: admin, :test_tube: unit test

#500 ♻️ remove session duplication in authorize
  back/apps/core-fca-low/src/controllers/interaction.controller.spec.ts
  back/apps/core-fca-low/src/controllers/interaction.controller.ts
  quality/fca/cypress/integration/usager/connexion-session.feature
Labels: scope: back, :traffic_light: quality, :test_tube: unit test

#514 ci(github): running pcdbapi tests
  .github/workflows/ci-pcdbapi-test.yml
  pcdbapi/.gitignore
  pcdbapi/README.md
  pcdbapi/compose.yaml
Labels: :construction_worker: CI, :memo: documentation

#519 🔙 get tracking steps back in the logs
  back/libs/tracking/src/config/tracked-event-steps.ts
  back/libs/tracking/src/services/core-tracking.service.spec.ts
  back/libs/tracking/src/services/core-tracking.service.ts
Labels: scope: back, :test_tube: unit test

#512 test(e2e): add integ certification dirigeant path
  quality/fca/cypress/integration/usager/connexion-acr-pci.feature
  quality/fca/cypress/support/usager/steps/service-provider-steps.ts
Labels: :traffic_light: quality

#521 Fixed nginx routing instead of docker-gen
  docker/bash/commands/docker.sh
  docker/bash/config.sh
  docker/compose/fca-low/.env/bridge-proxy-rie.env
  docker/compose/fca-low/.env/core-fca-low.env
  docker/compose/fca-low/.env/core-fca-rie.env
  docker/compose/fca-low/.env/csmr-rie.env
  docker/compose/fca-low/.env/dpa1-low.env
  docker/compose/fca-low/.env/dpa2-low.env
  docker/compose/fca-low/.env/exploitation-fca-low.env
  docker/compose/fca-low/.env/fia-llng-low.env
  docker/compose/fca-low/.env/fia-rie-low.env
  docker/compose/fca-low/.env/fia1-low.env
  docker/compose/fca-low/.env/fia2-low.env
  docker/compose/fca-low/.env/fsa1-low.env
  docker/compose/fca-low/.env/fsa2-low.env
  docker/compose/fca-low/.env/fsa3-low.env
  docker/compose/fca-low/.env/fsa4-low.env
  docker/compose/fca-low/.env/fsa5-low.env
  docker/compose/fca-low/.env/moncomptepro.env
  docker/compose/fca-low/core.yml
  docker/compose/fca-low/hybridge.yml
  docker/compose/fca-low/stack.yml
  docker/compose/shared/.env/base-app.env
  docker/compose/shared/shared.yml
  docker/docker-stack
  docker/volumes/docker-gen/config
  docker/volumes/nginx-proxy/default-vhost/.gitignore
  docker/volumes/nginx-proxy/default-vhost/index.html
  docker/volumes/nginx-proxy/etc/.gitignore
  docker/volumes/nginx-proxy/etc/services.conf
  docker/volumes/nginx-proxy/includes/common.vhost.conf
  docker/volumes/nginx-proxy/templates/index.html.tmpl
  docker/volumes/nginx-proxy/templates/nginx.tmpl
  docker/volumes/rp-bridge-proxy/vhost.conf
Labels: :whale: docker

#520 chore(tsconfig): update typescript target to es2023
  admin/tsconfig.json
  back/apps/core-fca-low/src/dto/identity-for-sp.dto.ts
  back/apps/core-fca-low/src/dto/identity-from-idp.dto.ts
  back/apps/core-fca-low/src/exceptions/core-fca-invalid-identity.exception.ts
  back/apps/core-fca-low/src/exceptions/core-fca-unauthorized-email-exception.ts
  back/libs/account-fca/src/schemas/account-fca.schema.ts
  back/libs/oidc-provider/src/exceptions/oidc-provider-base.exception.ts
  back/tsconfig.json
  quality/fca/tsconfig.json
  quality/package.json
  quality/tsconfig.json
Labels: scope: back, :traffic_light: quality, scope: admin

#524 Debounce mongoose watchers
  back/libs/mongoose/src/helpers/mongoose-collection-update-watcher.helper.ts
  quality/fca/cypress/support/exploitation/pages/exploit-form-page.ts
Labels: scope: back, :traffic_light: quality
