Repository proconnect-gouv/federation, pull requests merged in 2025-08, with the labels that each got.

#317 🩹 Improve Docker container differentiation in dks
  docker/bash/commands/docker.sh
Labels: :whale: docker

#297 Delete JS doc comments for parameters and return values
  admin/fc-exploitation/src/claims/claims.service.ts
  admin/fc-exploitation/src/configuration/configuration.service.ts
  admin/fc-exploitation/src/file-storage/file-storage.service.ts
  admin/fc-exploitation/src/identity-provider/identity-provider.controller.ts
  admin/fc-exploitation/src/scopes/scopes.controller.ts
  admin/fc-exploitation/src/service-provider/service-provider.controller.ts
  admin/fc-exploitation/src/utils/secret-manager.service.ts
  admin/shared/mailer/transporters/transport.ts
  admin/shared/user/interface/create-user-dto.interface.ts
Labels: scope: admin

#328 🏷️ fix typing for jest
  admin/tsconfig.build.json
  admin/tsconfig.json
Labels: scope: admin

#330 🔥 Remove node module installation in dks
  docker/bash/commands/docker.sh
  docker/bash/commands/up.sh
Labels: :whale: docker

#332 ⬆ upgrade nestjs from v9 to v10
  admin/package.json
  admin/src/account/account.module.ts
  admin/src/authentication/authentication.module.ts
  admin/src/authentication/authentication.service.spec.ts
  admin/src/authentication/totp/totp.service.ts
  admin/src/config/http.service.ts
  admin/src/config/mongo-database.ts
  admin/src/configuration/configuration.controller.spec.ts
  admin/src/configuration/configuration.controller.ts
  admin/src/configuration/configuration.service.ts
  admin/src/file-storage/file-storage.service.spec.ts
  admin/src/identity-provider/fixture/identity-providers.fixture.ts
  admin/src/identity-provider/identity-provider.module.ts
  admin/src/identity-provider/identity-provider.service.spec.ts
  admin/src/mailer/ejs.adapter.ts
  admin/src/mailer/transporters/smtp.transporter.ts
  admin/src/main.ts
  admin/src/meta/locals.interceptor.ts
  admin/src/rabbitmq/rabbitmq.module.spec.ts
  admin/src/user/user.module.ts
  admin/src/user/user.service.spec.ts
  admin/src/user/user.service.ts
  admin/src/utils/secret-manager.service.spec.ts
  admin/src/utils/transforms/string.transform.spec.ts
  admin/src/utils/transforms/string.transform.ts
  admin/tsconfig.json
  admin/yarn.lock
Labels: scope: admin, :test_tube: unit test

#334 ⬆️ upgrade nestjs from v10 to v11
  admin/package.json
  admin/src/account/dto/create-user.dto.ts
  admin/src/configuration/configuration.controller.spec.ts
  admin/src/configuration/configuration.controller.ts
  admin/src/configuration/dto/indisponibilite.dto.spec.ts
  admin/src/form/interceptor/form-errors.interceptor.ts
  admin/src/identity-provider/dto/identity-provider.dto.spec.ts
  admin/src/identity-provider/identity-provider.controller.spec.ts
  admin/src/identity-provider/identity-provider.controller.ts
  admin/src/identity-provider/identity-provider.service.ts
  admin/src/service-provider/dto/service-provider-input.dto.spec.ts
  admin/src/service-provider/service-provider.controller.ts
  admin/src/utils/transforms/string.transform.spec.ts
  admin/src/utils/transforms/string.transform.ts
  admin/yarn.lock
Labels: scope: admin, :test_tube: unit test

#338 remove fuse.js
  admin/package.json
  admin/yarn.lock
Labels: scope: admin

#337 🔥 remove instanceService
  admin/src/app.module.ts
  admin/src/configuration/configuration.module.ts
  admin/src/fqdn-to-provider/fqdn-to-provider.service.spec.ts
  admin/src/identity-provider/identity-provider.controller.spec.ts
  admin/src/identity-provider/identity-provider.controller.ts
  admin/src/identity-provider/identity-provider.module.ts
  admin/src/identity-provider/identity-provider.service.spec.ts
  admin/src/identity-provider/identity-provider.service.ts
  admin/src/meta/locals.interceptor.spec.ts
  admin/src/meta/locals.interceptor.ts
  admin/src/scopes/scopes.controller.spec.ts
  admin/src/scopes/scopes.controller.ts
  admin/src/scopes/scopes.module.ts
  admin/src/utils/instance.service.spec.ts
  admin/src/utils/instance.service.ts
  admin/views/identity-provider/creation.ejs
  admin/views/identity-provider/list.ejs
  admin/views/identity-provider/update.ejs
  admin/views/scopes/label/list.ejs
  admin/views/service-provider/creation.ejs
Labels: scope: admin, :test_tube: unit test

#340 🎨 format js files
  admin/cypress/integration/account/account-create.spec.js
  admin/cypress/integration/account/account-create.utils.js
  admin/cypress/integration/account/account-delete.spec.js
  admin/cypress/integration/account/account-update.spec.js
  admin/cypress/integration/account/account-update.utils.js
  admin/cypress/integration/exception/forbidden.spec.js
  admin/cypress/integration/exception/page-not-found.spec.js
  admin/cypress/integration/identity-provider/identity-provider-create.spec.js
  admin/cypress/integration/identity-provider/identity-provider-delete.spec.js
  admin/cypress/integration/identity-provider/identity-provider-list.spec.js
  admin/cypress/integration/identity-provider/identity-provider-search.spec.js
  admin/cypress/integration/identity-provider/identity-provider-update.spec.js
  admin/cypress/integration/pagination/pagination.spec.js
  admin/cypress/integration/scopes/scopes-create.spec.js
  admin/cypress/integration/scopes/scopes-delete.spec.js
  admin/cypress/integration/scopes/scopes-update.spec.js
  admin/cypress/integration/service-provider/service-provider-create.spec.js
  admin/cypress/integration/service-provider/service-provider-delete.spec.js
  admin/cypress/integration/service-provider/service-provider-generate-new-client-secret.spec.js
  admin/cypress/integration/service-provider/service-provider-list.spec.js
  admin/cypress/integration/service-provider/service-provider-search.spec.js
  admin/cypress/integration/service-provider/service-provider-update.spec.js
  admin/cypress/plugins/index.js
  admin/cypress/plugins/otp-plugin.js
  admin/cypress/support/get-user-activation-token.js
  admin/cypress/support/index.js
  admin/cypress/support/request.js
  admin/cypress/support/reset.js
  admin/package.json
  admin/public/javascript/addValidClass.js
  admin/public/javascript/clipboard.js
  admin/public/javascript/compare-password.js
  admin/public/javascript/custom-file-input.js
  admin/public/javascript/delete-service-provider.js
  admin/public/javascript/handle-email.js
  admin/public/javascript/item-par-page.js
  admin/public/javascript/lazy-init.js
  admin/public/javascript/main.js
  admin/public/javascript/modals/confirm-form.js
  admin/public/javascript/modals/generate-client-secret.modal.js
  admin/public/javascript/modals/validate-notification-creation.js
  admin/public/javascript/search-reset.js
  admin/public/javascript/toggle-idp-filter-list.js
  admin/public/javascript/unauthorized.js
  admin/public/javascript/validate-enrollment.js
  admin/public/javascript/validate-input-date.js
  admin/public/javascript/validate-input-hour.js
  admin/public/javascript/validate-select-value.js
  admin/public/javascript/validateAccountUpdate.js
Labels: scope: admin

#352 ⬆️ upgrade helmet
  admin/package.json
  admin/yarn.lock
Labels: scope: admin

#355 Upgrade dev dependencies
  admin/package.json
  admin/src/app-context/middleware/app-context.middleware.spec.ts
  admin/src/authentication/authentication.controller.spec.ts
  admin/src/authentication/middleware/authenticated.middleware.spec.ts
  admin/src/claims/claims.service.spec.ts
  admin/src/file-storage/file-storage.service.spec.ts
  admin/src/meta/locals.interceptor.spec.ts
  admin/src/scopes/scopes.service.spec.ts
  admin/yarn.lock
Labels: scope: admin, :test_tube: unit test

#360 ⬆️ upgrade dev dependencies and delete useless ones
  admin/cypress/integration/service-provider/service-provider-list.spec.js
  admin/cypress/integration/service-provider/service-provider.utils.js
  admin/package.json
  admin/src/authentication/authentication.service.spec.ts
  admin/src/authentication/passport/local.strategy.spec.ts
  admin/src/file-storage/file-storage.service.spec.ts
  admin/src/identity-provider/identity-provider.service.spec.ts
  admin/yarn.lock
Labels: scope: admin, :test_tube: unit test

#363 Upgrade last dependencies admin
  admin/cypress/integration/service-provider/service-provider-create.utils.js
  admin/package.json
  admin/public/javascript/main.js
  admin/src/pagination/pagination.service.ts
  admin/yarn.lock
Labels: scope: admin

#364 🔥 delete js files that handled whitelist
  admin/public/javascript/change-sp-plateform.js
  admin/public/javascript/main.js
  admin/public/javascript/toggle-idp-filter-list.js
Labels: scope: admin

#362 ✨ send extra params should remember me
  back/.eslintrc.js
  back/apps/core-fca/src/controllers/oidc-client.controller.ts
  back/apps/core-fca/src/dto/redirect-to-idp.dto.ts
  back/apps/core-fca/src/dto/user-session.dto.ts
  back/apps/core-fca/src/services/core-fca.service.ts
  back/apps/core-fca/src/views/interaction.ejs
  back/instances/mock-identity-provider-fca-low/src/oidc-provider-support/configuration.ts
  quality/fca/cypress/integration/usager/connexion-local-storage.feature
  quality/fca/cypress/support/usager/steps/identity-provider-steps.ts
Labels: scope: back, :traffic_light: quality

#382 💚 Fix mfa integration test
  quality/fca/cypress/integration/usager/connexion-acr-pci.feature
Labels: :traffic_light: quality

#380 🔥 Remove pc-nodejs docker image
  docker/bash/commands/docker.sh
  docker/builds/node/Dockerfile
  docker/compose/shared/shared.yml
Labels: :whale: docker

#386 🚑 Build admin container with correct path
  admin/deploy/pm2/app.json
Labels: scope: admin

#387 Make services depend on rp-all
  docker/bash/commands/up.sh
  docker/compose/fca-low/core-rie.yml
  docker/compose/fca-low/core.yml
  docker/compose/fca-low/exploitation-fca-low.yml
  docker/compose/fca-low/hybridge.yml
  docker/compose/fca-low/mocks.yml
Labels: :whale: docker

#388 🧑 Use extends in compose core files
  docker/compose/fca-low/core-rie.yml
  docker/compose/fca-low/core.yml
  docker/compose/fca-low/stack.yml
  docker/compose/shared/shared.yml
Labels: :whale: docker

#391 🎨 Rename compose containers
  .github/workflows/ci-admin-tests.yml
  admin/cypress.config.js
  docker/bash/commands/lemonldap.sh
  docker/bash/commands/up.sh
  docker/compose/fca-low/.env/exploitation-fca-low.env
  docker/compose/fca-low/admin.yml
  docker/compose/fca-low/core.yml
  docker/compose/fca-low/hybridge.yml
  docker/compose/fca-low/mocks.yml
  docker/compose/fca-low/postgres.yml
  docker/compose/fca-low/stack.yml
  docker/volumes/rp-bridge-proxy/vhost.conf
Labels: :whale: docker, :construction_worker: CI, scope: admin

#398 ♻️ Remove command override from Compose services
  admin/Dockerfile
  back/Dockerfile
  docker/compose/fca-low/admin.yml
  docker/compose/fca-low/hybridge.yml
  docker/compose/shared/shared.yml
Labels: :whale: docker, scope: back, scope: admin

#383 💄 Sort identity providers alphabetically with "Autre" always last
  back/apps/core-fca/src/controllers/oidc-client.controller.spec.ts
  back/apps/core-fca/src/controllers/oidc-client.controller.ts
  back/apps/core-fca/src/services/core-fca.service.spec.ts
  back/apps/core-fca/src/services/core-fca.service.ts
  quality/fca/cypress/integration/usager/connexion-usager-multi-fi.feature
  quality/fca/cypress/support/usager/steps/interaction-idp-selection-steps.ts
Labels: scope: back, :traffic_light: quality, :test_tube: unit test

#399 🚚 Replace environment variables with relative paths in Compose files
  docker/README.md
  docker/bash/commands/docker.sh
  docker/bash/commands/node.sh
  docker/bash/config.sh
  docker/compose/fca-low/admin.yml
  docker/compose/fca-low/core.yml
  docker/compose/fca-low/hybridge.yml
  docker/compose/fca-low/mocks.yml
  docker/compose/fca-low/mongo.yml
  docker/compose/shared/shared.yml
Labels: :whale: docker, :memo: documentation

#410 Add root compose.yaml file
  compose.yaml
  docker/bash/config.sh
Labels: :whale: docker

#411 🔥 Remove join-by
  docker/bash/utils/index.sh
  docker/bash/utils/join-by.sh
Labels: :whale: docker

#416 🔥 Remove pm2 in dev
  admin/Dockerfile
  back/Dockerfile
  docker/compose/fca-low/.env/bridge-proxy-rie.env
  docker/compose/fca-low/.env/core-fca-low.env
  docker/compose/fca-low/.env/core-fca-rie.env
  docker/compose/fca-low/.env/csmr-rie.env
  docker/compose/fca-low/.env/dpa1-low.env
  docker/compose/fca-low/.env/dpa2-low.env
  docker/compose/fca-low/.env/exploitation-fca-low.env
  docker/compose/fca-low/.env/fia-rie-low.env
  docker/compose/fca-low/.env/fia1-low.env
  docker/compose/fca-low/.env/fia2-low.env
  docker/compose/fca-low/.env/fsa1-low.env
  docker/compose/fca-low/.env/fsa2-low.env
  docker/compose/fca-low/.env/fsa3-low.env
  docker/compose/fca-low/.env/fsa4-low.env
  docker/compose/fca-low/.env/fsa5-low.env
  docker/compose/fca-low/.env/moncomptepro.env
  docker/compose/shared/.env/base-app.env
  docker/volumes/app/pm2/app-ci.config.js
  docker/volumes/app/pm2/app-prod.config.js
  docker/volumes/app/pm2/app.config.js
  docker/volumes/app/start-ci.sh
  docker/volumes/app/start-dev.sh
  docker/volumes/app/start-prod.sh
  docker/volumes/app/start.sh
  docker/volumes/app/stop.sh
  docker/volumes/app/test.sh
Labels: :whale: docker, scope: back, scope: admin

#419 🚑 Move views outside dist in Dockerfile for unlocking deployement
  admin/Dockerfile
Labels: scope: admin

#392 🔒️(totp) use RFC-compliant OTP window and simplify testing
  admin/cypress.config.js
  admin/cypress/plugins/otp-plugin.js
  admin/src/config/totp.ts
  quality/fca/cypress/plugins/otp-plugin.ts
Labels: :traffic_light: quality, scope: admin

#421 🔥 Remove watch-front dead command from admin package.json
  admin/package.json
Labels: scope: admin

#427 📝 In doc, change the stack we need to launch for snapshots tests
  README.md
Labels: :memo: documentation
